
<div class="container">
  <h1>Check you email</h1>
    <div class="form-group">
      <label for="email">We're almost there! Access your email and active your account!</label><br>     
    </div>
  <hr class="my-4" />
  Already verified?<a href="/login">Try to Log In</a>
</div>