<div class="container">
  <video muted='muted' autoplay="autoplay" loop="loop" class="video">

      <source src="https://d150hyw1dtprld.cloudfront.net/videos/HP_VideoTest_NoPostRoll_v2_720p.webm" type="video/webm">
  </video>
</div>