
<div class="container">
  <h1>{{user.fullName}}</h1>
  <hr class="my-4" />
  <p>{{user.email}}</p>
  <p>Your profile is now <strong>{{user.status}}</strong></p>
  <p>Please, <a href="/login">login</a></p>


  <hr class="my-4" />
  <a href="/users">Return</a>
</div>