body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  .navbar {
    background-color: #2e2e2e;
    color: #FFF;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #FFF;
  }
  
  .navbar-dark .navbar-nav .nav-active .nav-link {
    font-weight: bold;
  }
  
  footer {
    background: #2e2e2e;
    bottom: 0;
    color: #F7F9F9;
    left: 0;
    position: fixed;
    width: 100%;
  }
  
  #app {
    padding: 30px 0;
  }
  
  a {
    color: #00B7FF;
  }
  
  .review-item {
    border-bottom: 1px solid grey;
    margin: 10px 0;
    padding-bottom: 10px;
  }
  
  .review-item p {
    margin-bottom: 0;
  }
  
  .review-item span {
    font-size: 10px;
    color: grey;
  }
  
  #form {
    margin: 30px auto;
    width: 380px;
  }
  
  #map {
    height: 500px;
    width: 100%;  
   }

   .notMatch {
     display: none;
   }

   #userPic{
     border-radius:50px;
     height: 35px;
     width: 35px;
   }

   #userProfile{
    border-radius:50px;
    height: 50px;
    width: 50px;
  }

  .video{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    opacity: 0.75;
    height: auto;
    min-height: 560px;
  }