body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 70px;
    background:#FCFCFC;
    font-family: 'Nunito', sans-serif;
  }

  .parallax{
    background: url("../imgs/banner6.jpg") no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    vertical-align: middle !important;

  }


  .card-body div a {
    color:#282D33;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
  }

  .banner-text{
    font-size: 4vw;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    vertical-align: middle !important;
    padding: 65px; 
    
  }

  
  .navbar {
    background-color: #FFF;
    color: #2e2e2e;
    border-bottom:solid 1px #E4E4E4;
  }

  .imgLogo{
    width:30px;
    height: 30px;
  }

  .logo{
    color:#282D33;
    
  }
  .logo a{
    text-decoration: none;
  }


  .home-products{
    text-align: center;
    color:#282D33;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #2e2e2e !important;
    font-weight: bold !important;
    font-size: 1.1rem;
  }
  .navbar-light .navbar-nav .nav-active .nav-link {
    font-weight: bold;
  }

  .userInfo{
    font-size: 1.1rem;
  }

ul li{
  margin:auto;
  margin-right:10px;
}

.underline:hover{
  border-bottom: solid 2px #2e2e2e;
}
  
  footer {
    background: #30363D;
    bottom: 0;
    color: #F7F9F9;
    left: 0;
    /* position: fixed; */
    width: 100%;
  }

  footer .container-fluid{
    margin-top: -13px;
  }

  footer .container p{
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 1.2rem;
  }

  .sub-footer{
    background: #282D33;
  }

  .sub-footer ul li{
    padding: 10px;
  }

  .sub-footer ul li a{
    color:#fff;
    text-decoration: none;
    font-family: Roboto;
    font-size: 1.1rem;
  }

  .sub-footer h4{
    margin-top: 30px;
  }

  .social{
    display: flex;
    padding: 30px;
  }

  .col ul li{
    list-style-type: none;
  }


  .body-container{
    position: relative;
    min-height: 100vh;
  }
  #app {
    padding: 30px 0;
  }
  
  a {
    color: #00B7FF;
  }
  
  .review-item {
    border-bottom: 1px solid grey;
    margin: 10px 0;
    padding-bottom: 10px;
  }
  
  .review-item p {
    margin-bottom: 0;
  }
  
  .review-item span {
    font-size: 10px;
    color: grey;
  }
  
  #form {
    margin: 30px auto;
    width: 380px;
  }
  
  #map {
    height: 500px;
    width: 100%;  
   }

   .notMatch {
     display: none;
   }

   #userPic{
     border-radius:50px;
     height: 35px;
     width: 35px;
   }

   .userPic{
    border-radius:50px;
    height: 35px;
    width: 35px;
  }

   #userProfile{
    border-radius:50px;
    height: 50px;
    width: 50px;
  }

  .product-infos{
    margin: 20px 0 20px 20px; 
  }
  .category{
    color: #696969;
    /*font-size: rem;*/

  }
  .video{
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    opacity: 0.75;
    height: auto;
    min-height: 560px;

  }

  

  .star{
    color: goldenrod;
    font-size: 35px;
    padding: 1px; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 1100;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  /* .stars::after{
      content: counter(rateme) '/5';
  } */

  
  .singleStar{
    color: goldenrod;
    font-size: 25px;
    padding: 1px; /* space out the stars */
  }
  .singleStar::before{
    content: '\2605';    /* star outline */
    cursor: pointer;
  }

  .rating{
    color: goldenrod;
    font-size: 20px;
    padding: 1px; /* space out the stars */
  }

  .fa-heart{
    cursor: pointer;
  }

  .fa-heart::after{
    color: red;
    cursor: pointer;
  }

  .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://res.cloudinary.com/daniel-donato/image/upload/v1554537433/ichange/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}