<div class="container">
    <h1>Add your product</h1>
    <hr>
    <form action="/products/add" method="POST" enctype='multipart/form-data'>
        <div class="form-group">
            <label for="productName">Name</label>
            <input type="text" name="name" class="form-control" id="productName" aria-describedby="productNameHelp"
                placeholder="PS4">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea class="form-control" name="description"  id="exampleInputPassword1"
                placeholder="Decription for your product goes here" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="productCategory">Category</label>
            <input type="text" name="category" class="form-control" id="productCategory" aria-describedby="productCategory"
                placeholder="Eletronic">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Choose your product images</label>
            <input type="file" name="photo" class="form-control-file" id="exampleFormControlFile1" multiple>
        </div>
        <input type='hidden' name='owner' value='{{currentUser._id}}'/>
        <button type="submit" class="btn btn-primary">Create product</button>
    </form>
</div>